@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&family=Work+Sans:wght@400;500;700&display=swap');

.website-name {
  color: #7C00FE;
}

* {

  --text-color: #000000;
  --text-dark: #000000;
  --primary-color: #FFAF00;
  --white-color: #000000;
  --background-color: white;
  --background-light: #fdf6ee;
  --gray-light: #ffffff;
  --gray-dark: #ffffff;
  --footer-color: black;
  --footer-color-dark: #1d232e;
  --blue: #0089fd;
  --social-dark: #ffffff;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  background: linear-gradient(to right, #7C00FE, #B533FF, #D500F9);
   /* color: #333333; */
}

.app__home-intro .highlight-text {
  color: #000000;
  font-weight: bold;

}